//Styling for login-form Asko Mikkola 1600397
.login-form__buttons {
    padding: 10px;
    float: right;
}
ion-card ion-row {
    padding: 10px;
    float: right;

    div button:nth-of-type() {
        margin-rigth: 10px;
    }
}